<div class="career-path">
  <ng-container *ngIf="selectedPlayers.length || currentGameMode() === 'easy'; else noData">
    <div class="player-card" *ngFor="let player of selectedPlayers; let first = first">
      <player-timeline
        [playerName]="player.name"
        [groups]="player.groups"
        [winner]="currentGameMode() !== 'easy' && first && gameState === GameState.WON"
        [showHint]="currentGameMode() !== 'easy' && first"
        [gameMode]="currentGameMode()"
        (selectTeamEvent)="selectTeam($event)">
      </player-timeline>
    </div>
  </ng-container>

  <ng-template #noData>
    <div class="no-data-container">
      <p class="no-data">Select a player to view their career path.</p>
    </div>
  </ng-template>
</div>
