@use '../../../constants';

.table-container {
  margin: 5px;

  table {
    color: white;
    background: none;
    width: 100%;
  }

  tr {
    height: 40px;

    &:nth-child(even) {
      background-color: constants.$color-table-row;
    }
  }

  td {
    border: none;
  }
}
