<div class="name-header">
  <span class="name-text">{{ getPlayerAttr("name") }}</span>
</div>

<div class="attr-container">
  <mat-grid-list cols="9" rowHeight="40px">
    <div *ngFor="let attr of orderedPlayerAttr" class="tile-container">
      <ng-container *ngIf="attr !== 'name'">
        <mat-grid-tile [colspan]="getColSpan(attr)">
          <div class="column-content" [ngClass]="getClass(attr)">
            {{ getPlayerAttr(attr) }}
          </div>
        </mat-grid-tile>
      </ng-container>
    </div>
  </mat-grid-list>
</div>
