@use '../../constants';

.name-header {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;

  .name-text {
    font-family: constants.$font-family-secondary;
    font-size: 16px;
  }
}

mat-grid-list {
  width: 100%;
  font-size: 12px;
}

.column-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(84, 84, 84, 0.5);
  border: 1px solid #333;
  width: 100%;
  height: 30px;
}

.team-column {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.team-link {
  text-decoration: underline;
  
  &:hover {
    color: constants.$color-primary;
    text-decoration: underline;
    cursor: pointer;
  }
}

.pos-column {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

// Background colors
.blue {
  background-color: rgb(104, 195, 240);
  color: black;
}

.orange {
  background-color: rgb(252, 174, 91);
  color: black;
}
