.name-header {
  display: flex;
  justify-content: center;

  .name-text {
    font-size: 14px;
  }
}

mat-grid-list {
  width: 100%;
  font-size: 10px;
}

.column-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(84, 84, 84, 0.5);
  border: 1px solid #333;
  width: 100%;
}

.team-column {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pos-column {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

// Background colors
.green {
  background-color: rgb(91, 227, 139);
  color: black;
}

.yellow {
  background-color: rgb(255, 199, 0);
  color: black;
}
