@use '../../../constants';

form a {
  margin-left: 20px;
  font-size: 16px;
  color: constants.$color-secondary;
  text-decoration: underline;
  cursor: pointer;
}

.mat-mdc-form-field {
  width: 100%;
}
