<div class="content-container">
  <div *ngIf="!endOfGame" class="attr-container">
    <common-attribute-header
      [attrHeaders]="attrHeaders"
      [numberOfColumns]="9"
    ></common-attribute-header>
  </div>
  <div *ngIf="endOfGame" class="end-result-header">
    <mat-grid-list cols="9" rowHeight="40px">
      <mat-grid-tile colspan="9">
        <div
          class="column-content end-result"
          [ngClass]="getEndResultBorderColor()"
        >
          <span class="end-result-text">{{ endResultText }}</span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
