<div class="content-container">
  <div class="title">
    <span>{{ teamName }}</span>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="roster">
      <ng-container
        *ngFor="let column of displayedAttributes"
        [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
        <td mat-cell *matCellDef="let player">{{ getAttr(player, column) }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedAttributes"></tr>
      <tr mat-row 
          *matRowDef="let player; columns: displayedAttributes; let first = first"
          (click)="onRowClick(player)"
          class="player-row"
          [class.first-row]="first"
          #firstRow>
      </tr>
    </table>
    <hint *ngIf="firstRowElement" [targetElement]="firstRowElement" [hintType]="HintType.ROSTER_SELECT"></hint>
  </div>
</div>
