<div class="title">
  <h1>How To Play</h1>
</div>
<div class="content-container">
  <div class="section">
    <div class="text">Guess the mystery player within 9 guesses.</div>
  </div>

  <div class="section">
    <bio-ball-player
      [player]="matchPlayer"
      [inSearchResults]="false"
      (selectTeamEvent)="(null)"></bio-ball-player>
    <div class="text"><span class="blue">Blue</span> in any column indicates a match!</div>
  </div>

  <div class="section">
    <bio-ball-player
      [player]="lgDivPlayer"
      [inSearchResults]="false"
      (selectTeamEvent)="(null)"></bio-ball-player>
    <div class="text">
      Lg/Div: <span class="orange">Orange</span> indicates that the player plays in either the revealed
      League or Division.
    </div>
  </div>

  <div class="section">
    <bio-ball-player
      [player]="agePlayer"
      [inSearchResults]="false"
      (selectTeamEvent)="(null)"></bio-ball-player>
    <div class="text">
      Age: <span class="orange">Orange</span> indicates 2 years within the mystery player's age.
    </div>
  </div>

  <div class="section">
    <bio-ball-player
      [player]="teamPlayer"
      [inSearchResults]="false"
      (selectTeamEvent)="(null)"></bio-ball-player>
    <div class="text">
      Team: Click on the team to reveal the active roster, BUT it will cost you a guess!
    </div>
  </div>
</div>
