<div class="home-container">
  <mat-drawer-container>
    <mat-drawer #drawer mode="over" [position]="matDrawerPosition">
      <ng-container *ngIf="selectedRoster && viewRoster">
        <active-roster-table [roster]="selectedRoster" (playerSelected)="handlePlayerSelection()"></active-roster-table>
      </ng-container>
      <ng-container *ngIf="viewMenu">
        <how-to-play></how-to-play>
      </ng-container>
      <!-- <ng-container *ngIf="loggedIn && viewProfile && user">
        <profile [user]="user"></profile>
      </ng-container> -->
      <div
        *ngIf="!loggedIn && !viewProfile && !viewMenu && !viewRoster"
        class="login-menu"
      >
        <div class="login-title">
          <h1>Login</h1>
        </div>
        <div class="login-content">
          <div class="google-login-button">
            <p>Coming soon</p>
          </div>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="nav-container">
        <div *ngIf="!loggedIn" class="login-button" (click)="openLoginMenu()">
          <span class="material-symbols-outlined login-icon"> login </span>
        </div>
        <div *ngIf="loggedIn" class="profile-logout-container">
          <span
            class="material-symbols-outlined logout-icon"
            (click)="logout()"
          >
            logout
          </span>
          <span
            class="material-symbols-outlined profile-icon"
            (click)="openProfileMenu()"
          >
            person
          </span>
        </div>
        <div class="menu-icon-container" (click)="openMenu()">
          <span class="material-symbols-outlined menu-icon"> menu </span>
        </div>
      </div>
      <div class="content-container">
        <home (selectRosterEvent)="openRosterMenu($event)"></home>
      </div>
      <slide-up>
        <div slide-up-heading>
          <h2 class="slide-up-heading-text">Correct Answer</h2>
        </div>
        <player [player]="playerToGuess"></player>
      </slide-up>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
