$font-family: 'Bruno Ace SC', cursive;
$font-family-secondary: 'Space Mono', monospace;
$color-primary: rgba(229, 115, 115, 0.87);
$color-secondary: rgb(104, 195, 240);
$color-tertiary: rgb(252, 174, 91);
$color-header: #CC1F41;
