html,
body {
  height: auto;
}
body {
  margin: 0;
  font-family: 'Luckiest Guy', cursive;
}

.mat-app-background {
  background-color: black;
}

// Mobile browser support
@media only screen and (max-device-height: 1000px) {
 html,
 body {
    height: 92vh;
  }
}
