<!-- game.component.html -->
<div class="game-shell">
  <!-- moved up from BioBallComponent -->
  <div class="header">
    <div class="title">
      <h1>ROSTER RIDDLES</h1>
    </div>
    <div class="game-select-container">
      <game-select [currentGameType]="currentGameType" (resetState)="resetState()"></game-select>
    </div>
    <div class="search-container">
      <search></search>
    </div>
    <div *ngIf="showAttributeHeader" class="attr-header-container">
      <attribute-header></attribute-header>
    </div>
    <ng-container *ngIf="currentGameMode === 'easy' && currentGameType === 'career-path'">
      <div class="attr-header-container">
        <career-path-easy-header [attributeHeaders]="attributeHeaders" [numberOfColumns]="5"></career-path-easy-header>
      </div>
    </ng-container>
    <ng-container *ngIf="currentGameType === 'nickname-streak'">
      <div class="attr-header-container">
        <streak-card
          [bestStreak]="bestStreak"
          [currentStreak]="currentStreak"
          [player]="playerToGuess"
        ></streak-card>
      </div>
    </ng-container>
  </div>

  <!-- this is where BioBallComponent (and any future child) will render -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <!-- moved up from BioBallComponent -->
  <div class="footer">
    <div class="new-game-button-container">
      <button (click)="startNewGame()" mat-raised-button class="new-game-button">
        <div class="new-game-button-content">
          <span class="new-game-text">New Game</span>
          <span class="material-symbols-outlined new-game-icon">refresh</span>
        </div>
      </button>
    </div>
  </div>
</div>
