@use '../../constants';

.title {
  color: #CC1F41;
  font-family: constants.$font-family;
  font-size: 22px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.table-container {
  margin: 5px;

  table {
    color: white;
    background: none;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  tr {
    display: flex;
    flex-direction: row;
    height: 40px;

    &:nth-child(even) {
      background: rgba(84, 84, 84, 0.12);
    }
  }
  
  /* Default size for all columns */
  th, td {
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 0.5;
  }

  td {
    border: none;
  }
  
  /* Make the name column twice as big */
  th:first-child, td:first-child {
    flex: 14;
    padding-left: 16px;
  }
  
  /* Make the country born column 3 times as big */
  th:nth-child(4), td:nth-child(4) {
    flex: 3;
  }

  /* Make the age column twice as big */
  th:nth-child(5), td:nth-child(5) {
    flex: 2;
  }

  /* Make the position column twice as big */
  th:last-child, td:last-child {
    flex: 2;
  }
}
