<div class="name-header">
  <span class="name-text">{{ getPlayerAttr('name') }}</span>
</div>

<div class="attr-container">
  <mat-grid-list cols="9" rowHeight="40px">
    <div *ngFor="let attr of orderedUiPlayerAttr" class="tile-container">
      <mat-grid-tile [colspan]="getColSpan(attr)">
        <div class="column-content" [ngClass]="getClass(attr)">
          <div *ngIf="attr !== teamAttribute">{{ getPlayerAttr(attr) }}</div>
          <div *ngIf="attr === teamAttribute">
            <a (click)="selectTeam(player)"
               [ngClass]="{ 'team-link': !inSearchResults }">
              {{ getPlayerAttr(attr) }}
            </a>
          </div>
        </div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>
