@use '../../constants';

$bottom-pixel-default: 18px;
$bottom-pixel-mobile: 92px;

.toast {
  visibility: hidden;
  max-width: 1000px;
  background-color: black;
  border: 1px solid #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: $bottom-pixel-default;
  font-size: 14px;
}

.toast.show {
  visibility: visible;
  width: 80%;
  max-width: 1000px;
  -webkit-animation: fadein 0.7s;
  animation: fadein 0.7s;
}

.toast-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: constants.$color-secondary;
  color: black;
  border-bottom: 1px solid #333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.toast-body {
  padding: 15px;
}

.close-icon {
  cursor: pointer;
  margin-left: auto;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: $bottom-pixel-default;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: $bottom-pixel-default;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: $bottom-pixel-default;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: $bottom-pixel-default;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

// Media query for mobile devices
@media only screen and (max-device-height: 1000px) {
  .toast {
    bottom: $bottom-pixel-mobile;
  }

  @-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: $bottom-pixel-mobile;
      opacity: 1;
    }
  }

  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: $bottom-pixel-mobile;
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeout {
    from {
      bottom: $bottom-pixel-mobile;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }

  @keyframes fadeout {
    from {
      bottom: $bottom-pixel-mobile;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }
}
