<common-table
  #table
  [title]="teamName"
  [subtitle]="years"
  [columns]="columns"
  [rowHeight]="RowHeight.LARGE"
  [data]="rosterTableData"
  (rowClick)="onRowClick($event)"
  [hintType]="HintType.CAREER_PATH_ROSTER_PLAYER_SELECT"
  [hintTargetRow]="2"
>
  <ng-template #teamsCell let-player>
    <div class="logo-group-compact">
      <div *ngFor="let team of player.teams" class="logo-wrapper">
        <img
          class="team-logo"
          [src]="logoService.getLogoUrl(team.teamKey, team.from)"
          [alt]="team.teamKey + ' logo'"
        />
      </div>
    </div>
  </ng-template>
</common-table>
