$font-family: 'Bruno Ace SC', cursive;
$font-family-secondary: 'Space Mono', monospace;
$font-family-tertiary: 'Roboto', sans-serif;
$color-primary: rgba(229, 115, 115, 0.87); // #D58181
$color-secondary: rgb(104, 195, 240); // #68C3F0 
$color-tertiary: rgb(252, 174, 91); // #FCAE5B
$color-header: rgb(204, 31, 65); // #CC1F41
$color-table-row: rgba(84, 84, 84, 0.12); // #545454

$logo-size: 80px;
$logo-medium: 60px;
$logo-small: 50px;
$logo-tiny: 30px;
