@use "@angular/material" as mat;

@include mat.core();

$mlb-pickle-primary: mat.define-palette(mat.$green-palette, 500);
$mlb-pickle-accent: mat.define-palette(mat.$gray-palette, A200, A100, A400);
$mlb-pickle-warn: mat.define-palette(mat.$red-palette);

$mlb-pickle-theme: mat.define-light-theme(
  (
    color: (
      primary: $mlb-pickle-primary,
      accent: $mlb-pickle-accent,
      warn: $mlb-pickle-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Define a dark theme
$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$green-palette),
   accent: mat.define-palette(mat.$blue-grey-palette),
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$indigo-palette),
   accent: mat.define-palette(mat.$pink-palette),
 ),
));

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.all-component-themes($dark-theme);
