<div class="search-container">
  <mat-form-field appearance="outline">
    <mat-label>Guess today's player</mat-label>
    <input
      type="text"
      matInput
      [matAutocomplete]="auto"
      [formControl]="searchControl"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let player of filteredPlayers | async"
        [value]="player"
      >
        {{ player.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- <input
        type="text"
        id="search-input"
        placeholder="Guess today's player"
        [formControl]="searchControl"
        (focus)="onInputFocus()"
        (blur)="onInputBlur()"
      />
      <ul
        *ngIf="showAutoComplete && (filteredPlayers | async)?.length"
        class="autocomplete-options"
      >
        <li *ngFor="let player of filteredPlayers | async" (click)="selectPlayer(player)">
          {{ player.name }}
        </li>
      </ul> -->
</div>
