@use '../../constants';

.home-container {
  height: 100vh;
}

mat-drawer-container {
  height: 100%;
  background-color: black;
}

mat-drawer {
  width: 90vw;
  max-width: 500px;
  background-color: black;
}

.content-container {
  margin: 20px 10px 5px 10px;
  max-height: 90%;
}

.attr-header-container {
  margin: auto;
  margin-bottom: 10px;
  max-width: 1000px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  h1 {
    color: #CC1F41;
    font-family: constants.$font-family;
    font-size: 28px;
    margin: 0px;
  }
}

.new-game-button-container {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  margin-left: auto;
  margin-right: 0;
  width: 100%;
  vertical-align: middle;

  .new-game-button {
    float: right;
    margin: 10px;
    background: transparent;

    .new-game-button-content {
        margin-top: 6px;
    }
    .new-game-icon {
      color: #CC1F41;
    }

    .new-game-text {
      font-family: constants.$font-family-secondary;
      float: right;
      margin-left: 5px;
    }
  }
}

.search-container {
  width: 100%;
}

.player-container {
  margin: auto;
  max-width: 1000px;
}

.players-container {
  height: auto;
  max-height: 66vh;
  overflow: auto;
}

@media only screen and (max-height: 800px) {
  .players-container {
    max-height: 62vh;
  }
}

// Mobile browser support
@media only screen and (max-device-height: 800px) {
  .home-container {
    height: 92vh;
  }

  mat-drawer {
    height: 92vh;
  }
}