<div class="home-container">
  <div class="title">
    <h1>PICKLE</h1>
  </div>
  <div class="search-container">
    <search></search>
  </div>
  <div class="attr-header-container">
      <mat-grid-list cols="9" rowHeight="40px">
        <div *ngFor="let header of headers" class="tile-container">
          <mat-grid-tile [colspan]="header.colSpan">
            <div class="column-content" [ngClass]="header.class">
              {{ header.name }}
            </div>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
  </div>
  <div class="players-container" *ngFor="let player of players">
    <player [player]="player" [headers]="headers"></player>
  </div>
</div>
