<div class="header">
  <div class="title">
    <h1>ROSTER RIDDLES</h1>
  </div>
  <div class="search-container">
    <search
      [disabled]="isSearchDisabled"
      [placeHolderText]="searchInputPlaceHolderText"
    >
    </search>
  </div>
  <div class="attr-header-container">
    <attribute-header
      [attrHeaders]="headers"
      [endResultText]="endResultText"
      [endOfGame]="endOfGame"
    ></attribute-header>
  </div>
</div>
<div class="players-container">
  <div class="player-container" *ngFor="let player of selectedPlayers">
    <player
      [player]="player"
      [inSearchResults]="false"
      (selectTeamEvent)="selectRoster($event)"
    ></player>
  </div>
</div>
<div class="footer">
  <div class="new-game-button-container">
    <button (click)="startNewGame()" mat-raised-button class="new-game-button">
      <div class="new-game-button-content">
        <span class="new-game-text">New Game</span>
        <span class="material-symbols-outlined new-game-icon"> refresh </span>
      </div>
    </button>
  </div>
</div>
